html, body{
    height: 100%;
}
#quadro{
    height: 80%;
    position:relative;
    overflow: hidden;
    background-image: url('../imagens/bg.png');
    background-size: cover;
}
#score{
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    z-index: 100;
    color: #600;
    font-weight: bold;
    font-size: 30px;
}
.invasor, .bonzinho{
    width: 80px;
    height: 80px;
    background-image: url('../imagens/invasor.png');
}
.bonzinho{
    background: none;
    background-color: crimson;
}

#pts100{
    display: block;
    width: 50px;
    position: absolute;
    left: -300px;
    top: 300px;
}